---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="حول الجمعية">
  <Container>
    <Sectionhead>
      <Fragment slot="title">عن الجمعية</Fragment>
      <Fragment slot="desc">جمعية البر والتعليم الإسلامي في قطنا.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        تأسست الجمعية عام 1963 وهي اليوم تضم مستوصف وروضة أطفال وتقدم خدماتها لكل المحتاجين في منطقة قطنا
      </p>
    </div>
    <br />
    <h2 class="font-bold font-koufi text-4xl">من أهداف الجمعية</h2>
    <ul class="list-disc">
      <li>نشر الدعوة الإسلامية عن طريق القاء محاضرات دينية وادبية في مقر الجمعية  </li>
      <li>نشر الدعوة الإسلامية عن طريق القاء محاضرات دينية وادبية في مقر الجمعيب‌-	تزويد الجيل بثقافة إسلامية عن طريق تأسيس روضات أطفال ومدارس ابتدائية ، اعدادية ، وثانوية بعد الحصول على ترخيص مسبق من وزارة التربية والتعليم </li>
      <li> رفع مستوى علماء مساجد المنطقة ماديا ومعنويا وارسال بعثات الى الخارج تتزود من مناهل العلم الشرعي بعد الحصول على ترخيص مسبق من وزارة الأوقاف وتحت اشرافها</li>
      <li>القيام بالأعمال الخيرية التالية</li>
      <ol class="list-decimal">
        <li>مساعدة الفقراء في المنطقة.</li>
        <li>مساعدة ابن السبيل بتأمين نفقات السفر</li>
        <li>إنشاء صالات أفراح وعزاء باسم الجمعية وتابعة لها وتعيين المشرفين عليها أصولاً</li>
        <li>إنشاء صندوق خاص بالزواج لمساعدة الفقراء الراغبين بالزواج مادياً</li>
        <li>تأمين وانشاء دور سكن للفقراء </li>
      </ol>
      </li>
    </ul>
    <br />
    <br />
    </div>
  </Container>
</Layout>
