---

import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";
import { getCollection } from 'astro:content';
import '@fontsource-variable/kufam'
const assets = await getCollection('assets');
console.log('assets', assets);

---

<Layout title="الصالة">
  <Container>
    <Sectionhead>
      <Fragment slot="title" الصالة    </Fragment>
        <div class="font-changa">
        <h1 class="text-5xl  ">صالة الجمعية</h1>
      </div>
        <br />
        <p class="text-2xl">توفر الجمعية صالة كبيرة لكافة مناسبات العزاء والمحاضرات وغيرها من النشاطات والفعاليات بأسعار رمزية وهي مجهزة بتدفئة وتكييف</p>
       </Fragment>
    </Sectionhead>
   
  </Container>
  
  <div class="grid min-h-[140px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible">
    <div class="grid grid-cols-2 gap-2">
      <div>
        <img class="object-cover object-center h-40 max-w-full rounded-lg md:h-60"
          src="https://res.cloudinary.com/dfklzkzss/image/upload/v1737457043/IMG_20250116_122147_r6entk.jpg"
          alt="" />
      </div>
      <div>
        <img class="object-cover object-center h-40 max-w-full rounded-lg md:h-60"
          src="https://res.cloudinary.com/dfklzkzss/image/upload/v1737456774/IMG_20250116_122135_ih8lhd.jpg"
          alt="" />
      </div>
      <div>
        <img class="object-cover object-center h-40 max-w-full rounded-lg md:h-60"
          src="https://res.cloudinary.com/dfklzkzss/image/upload/v1737456787/IMG_20250116_122142_g5ahce.jpg"
          alt="" />
      </div>
      <div>
        <img class="object-cover object-center h-40 max-w-full rounded-lg md:h-60"
          src="https://res.cloudinary.com/dfklzkzss/image/upload/v1737743285/IMG_20250116_122214_vawe88.jpg"
          alt="" />
      </div>
    </div>
  </div>
</Layout>
<style>
  @font-face {
  font-family: 'IBM Plex Sans Arabic';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/ibm-plex-sans-arabic/files/ibm-plex-sans-arabic-latin-400-normal.woff2) format('woff2'), url(@fontsource/ibm-plex-sans-arabic/files/ibm-plex-sans-arabic-latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
</style>