---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="المركز الطبي">
  <Container>
    <div class="bg-gradient-to-r from-blue-500 to-blue-500 max-w-6xl mx-auto min-h-[475px] rounded-3xl p-6 flex flex-col justify-center font-[sans-serif] overflow-hidden">
		<div class="grid md:grid-cols-2 justify-center items-center max-md:text-center md:gap-8 gap-16 h-full">
		  <div class="md:max-w-md mx-auto">
			<h2 class="text-white text-4xl md:text-5xl font-extrabold mb-6 md:!leading-[55px]">المركز الطبي التابع للجمعية</h2>
			<p class="text-white text-base">توفير الخدمات الطبية بأسعار رمزية</p>
			
		  </div>
		  <div class="md:text-right">
			<img src="https://res.cloudinary.com/dfklzkzss/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1737491583/IMG_20250116_123029_ahmghz.jpg" alt="Premium Benefits" class="object-cover" />
		  </div>
		</div>
	  </div>

	  
  
		 