---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="المركز الطبي">
  <Container>
	<br />
    <div class="font-sans">
		<div class="grid lg:grid-cols-2 items-center lg:gap-y-6 bg-blue-500">
		  <div class="max-lg:order-1 max-lg:text-center sm:p-12 p-4">
			<h2 class="text-gray-800 lg:text-5xl text-3xl font-bold lg:!leading-[56px]">المركز الطبي التابع للجمعية</h2>
			<p class="text-gray-800 mt-6   text-2xl leading-relaxed">توفير الخدمات الطبية بأسعار رمزية.</p>
			  </div>
  
		  <div class="lg:h-[480px] flex items-center">
			<img src="https://res.cloudinary.com/dfklzkzss/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1737491583/IMG_20250116_123029_ahmghz.jpg" class="w-full h-full object-cover" alt="Dining Experience" />
		  </div>
		</div>
  
		<div class="grid lg:grid-cols-4 md:grid-cols-2 gap-6 px-4 my-12">
		  <div class="bg-gray-100 p-6 rounded-md">
			<svg version="1.1" id="Icon_Set" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#F0C48A;}
	.st1{fill:#FD919E;}
	.st2{fill:#4C4372;}
	.st3{fill:#D3E6F8;}
	.st4{fill:#A4CFF2;}
	.st5{fill:#7BABF1;}
	.st6{fill:#FFFFFF;}
	.st7{fill:#E8677D;}
	.st8{fill:none;stroke:#4C4372;stroke-width:12;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
</style>
<g id="Microscope">
	<g>
		<g>
			<circle class="st0" cx="256" cy="256" r="207"/>
		</g>
	</g>
	<g>
		<g>
			<g>
				<path class="st3" d="M162.886,265.124c0,53.755,43.733,97.488,97.488,97.488c5.962,0,10.795-4.833,10.795-10.795
					c0-5.962-4.833-10.795-10.795-10.795c-41.85,0-75.898-34.048-75.898-75.898H162.886z"/>
			</g>
		</g>
		<g>
			<g>
				<path class="st2" d="M260.374,368.612c-57.063,0-103.488-46.424-103.488-103.488c0-3.314,2.687-6,6-6h21.59c3.313,0,6,2.686,6,6
					c0,38.542,31.356,69.898,69.897,69.898c9.261,0,16.795,7.534,16.795,16.795S269.635,368.612,260.374,368.612z M169.08,271.124
					c3.102,47.659,42.864,85.488,91.293,85.488c2.644,0,4.795-2.151,4.795-4.795s-2.151-4.795-4.795-4.795
					c-43.141,0-78.598-33.529-81.68-75.898H169.08z"/>
			</g>
		</g>
		<g>
			<g>
				<path class="st3" d="M261.645,362.612c-5.962,0-10.795-4.833-10.795-10.795c0-5.962,4.833-10.795,10.795-10.795
					c41.85,0,75.898-34.048,75.898-75.898c0-30.574-18.197-58.027-46.359-69.938c-5.491-2.323-8.059-8.657-5.737-14.148
					c2.323-5.491,8.659-8.059,14.147-5.737c36.168,15.298,59.538,50.555,59.538,89.823
					C359.133,318.879,315.4,362.612,261.645,362.612z"/>
			</g>
		</g>
		<g>
			<g>
				<path class="st2" d="M261.646,368.612c-9.261,0-16.795-7.534-16.795-16.795s7.534-16.795,16.795-16.795
					c38.542,0,69.897-31.356,69.897-69.898c0-28.159-16.759-53.442-42.696-64.412c-8.529-3.608-12.533-13.482-8.925-22.011
					c1.748-4.132,5-7.336,9.158-9.022c4.158-1.686,8.722-1.651,12.853,0.096c38.393,16.239,63.201,53.665,63.201,95.348
					C365.133,322.187,318.709,368.612,261.646,368.612z M295.391,180.446c-0.61,0-1.22,0.118-1.803,0.354
					c-1.187,0.481-2.116,1.396-2.615,2.576c-1.03,2.435,0.113,5.254,2.548,6.284c30.387,12.852,50.021,42.473,50.021,75.464
					c0,45.159-36.739,81.898-81.897,81.898c-2.644,0-4.795,2.151-4.795,4.795s2.151,4.795,4.795,4.795
					c50.447,0,91.488-41.041,91.488-91.488c0-36.852-21.933-69.94-55.876-84.297C296.657,180.573,296.024,180.446,295.391,180.446z"
					/>
			</g>
		</g>
		<g>
			<path class="st4" d="M203.251,287.579h-56.597c-6.435,0-11.652-5.217-11.652-11.652l0,0c0-6.435,5.217-11.652,11.652-11.652
				h56.597c6.435,0,11.652,5.217,11.652,11.652l0,0C214.903,282.362,209.686,287.579,203.251,287.579z"/>
		</g>
		<g>
			<path class="st5" d="M360.455,415.693H161.829c-9.137,0-16.544-7.407-16.544-16.544v0c0-9.137,7.407-16.544,16.544-16.544
				h198.626c9.137,0,16.544,7.407,16.544,16.544v0C376.999,408.286,369.592,415.693,360.455,415.693z"/>
		</g>
		<g>
			<path class="st2" d="M360.455,421.693H161.829c-12.431,0-22.544-10.113-22.544-22.544c0-12.431,10.113-22.544,22.544-22.544
				h198.626c12.431,0,22.544,10.113,22.544,22.544C382.999,411.579,372.886,421.693,360.455,421.693z M161.829,388.604
				c-5.814,0-10.544,4.73-10.544,10.544c0,5.814,4.73,10.544,10.544,10.544h198.626c5.814,0,10.544-4.73,10.544-10.544
				c0-5.814-4.73-10.544-10.544-10.544H161.829z"/>
		</g>
		<g>
			<path class="st2" d="M203.251,293.579h-56.598c-9.733,0-17.652-7.919-17.652-17.652c0-9.734,7.919-17.652,17.652-17.652h56.598
				c9.733,0,17.652,7.919,17.652,17.652C220.903,285.66,212.984,293.579,203.251,293.579z M146.653,270.274
				c-3.117,0-5.652,2.536-5.652,5.652c0,3.117,2.536,5.652,5.652,5.652h56.598c3.117,0,5.652-2.536,5.652-5.652
				c0-3.117-2.536-5.652-5.652-5.652H146.653z"/>
		</g>
		<g>
			<g>
				
					<rect x="299.09" y="113.924" transform="matrix(0.5251 0.851 -0.851 0.5251 274.8494 -199.4562)" class="st5" width="34.099" height="65.232"/>
			</g>
			<g>
				<path class="st4" d="M373.017,133.099l-19.352-31.365c-3.313-5.369-10.351-7.036-15.72-3.723l0,0
					c-5.369,3.313-7.036,10.351-3.723,15.72l19.352,31.365c3.313,5.369,10.351,7.036,15.72,3.723h0
					C374.663,145.507,376.33,138.469,373.017,133.099z"/>
			</g>
			<g>
				<path class="st2" d="M297.334,184.176c-0.462,0-0.926-0.053-1.383-0.161c-1.548-0.367-2.888-1.334-3.724-2.688l-17.905-29.019
					c-1.74-2.82-0.864-6.517,1.956-8.257l55.516-34.253c1.355-0.836,2.987-1.099,4.533-0.732c1.548,0.367,2.888,1.334,3.724,2.688
					l17.905,29.019c1.74,2.82,0.864,6.517-1.956,8.257l-55.516,34.253C299.53,183.871,298.438,184.176,297.334,184.176z
					 M287.686,151.112l11.604,18.807l45.303-27.952l-11.604-18.807L287.686,151.112z"/>
			</g>
			<g>
				<path class="st2" d="M363.324,156.517c-5.848,0-11.566-2.938-14.857-8.27l-19.352-31.365c-2.444-3.96-3.199-8.636-2.126-13.165
					c1.073-4.529,3.845-8.369,7.806-10.812c8.175-5.045,18.931-2.497,23.977,5.679l19.353,31.366
					c2.444,3.96,3.199,8.636,2.126,13.165c-1.073,4.529-3.845,8.369-7.806,10.812C369.6,155.68,366.443,156.517,363.324,156.517z
					 M343.934,102.31c-0.971,0-1.953,0.26-2.839,0.807c-1.232,0.761-2.095,1.956-2.429,3.365c-0.334,1.41-0.099,2.865,0.662,4.098
					l19.353,31.366c1.57,2.545,4.917,3.338,7.463,1.768c1.232-0.761,2.095-1.956,2.429-3.365c0.334-1.41,0.099-2.865-0.662-4.098
					c0,0,0,0,0,0l-19.352-31.365C347.534,103.225,345.754,102.31,343.934,102.31z"/>
			</g>
			<g>
				<path class="st4" d="M211.092,227.028l-14.495-23.493c-4.654-7.543-2.312-17.431,5.231-22.085l101.192-61.892l31.349,50.809
					l-101.192,61.892C225.634,236.913,215.746,234.571,211.092,227.028z"/>
			</g>
			<g>
				<path class="st2" d="M224.791,240.648c-7.399,0-14.64-3.718-18.805-10.469c0,0,0,0,0,0l-14.495-23.493
					c-6.383-10.347-3.159-23.958,7.188-30.342L299.89,114.44c2.821-1.725,6.502-0.844,8.237,1.968l31.349,50.809
					c0.837,1.358,1.1,2.993,0.729,4.545c-0.371,1.552-1.344,2.892-2.706,3.724l-101.192,61.892
					C232.719,239.592,228.731,240.648,224.791,240.648z M216.198,223.877c2.91,4.715,9.112,6.185,13.829,3.276l96.074-58.761
					l-25.047-40.596l-96.094,58.773c-4.695,2.897-6.165,9.1-3.255,13.816L216.198,223.877L216.198,223.877z"/>
			</g>
			<g>
				<path class="st2" d="M243.72,231.759c-2.013,0-3.978-1.012-5.112-2.85l-31.349-50.809c-1.74-2.82-0.864-6.517,1.956-8.257
					c2.821-1.74,6.518-0.864,8.257,1.956l31.349,50.809c1.74,2.82,0.864,6.517-1.956,8.257
					C245.883,231.47,244.794,231.759,243.72,231.759z"/>
			</g>
			<g>
				<g>
					<circle class="st1" cx="299.675" cy="188.115" r="26.779"/>
				</g>
				<g>
					<path class="st2" d="M299.675,220.894c-18.075,0-32.779-14.705-32.779-32.779c0-18.075,14.705-32.779,32.779-32.779
						s32.779,14.705,32.779,32.779C332.455,206.189,317.75,220.894,299.675,220.894z M299.675,167.335
						c-11.458,0-20.779,9.322-20.779,20.779c0,11.458,9.322,20.779,20.779,20.779s20.779-9.322,20.779-20.779
						C320.455,176.657,311.133,167.335,299.675,167.335z"/>
				</g>
				<g>
					<circle class="st2" cx="299.675" cy="188.115" r="9.939"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path class="st1" d="M261.142,320.812L261.142,320.812c-13.168,0-24.683,8.871-28.043,21.603l-10.606,40.19h77.298
					l-10.606-40.19C285.825,329.682,274.31,320.812,261.142,320.812z"/>
			</g>
			<g>
				<path class="st2" d="M299.791,388.604h-77.298c-1.861,0-3.617-0.864-4.753-2.339c-1.136-1.474-1.523-3.393-1.048-5.193
					l10.606-40.19c4.051-15.35,17.968-26.071,33.844-26.071s29.793,10.721,33.844,26.071l10.606,40.19
					c0.475,1.8,0.088,3.718-1.048,5.193C303.408,387.74,301.652,388.604,299.791,388.604z M230.282,376.604h61.72l-8.619-32.659
					c-2.662-10.088-11.808-17.133-22.242-17.133c-10.433,0-19.579,7.046-22.241,17.133L230.282,376.604z"/>
			</g>
			<g>
				<circle class="st5" cx="261.142" cy="351.708" r="12.902"/>
			</g>
			<g>
				<path class="st2" d="M261.142,370.61c-10.422,0-18.902-8.479-18.902-18.902s8.479-18.902,18.902-18.902
					c10.423,0,18.902,8.479,18.902,18.902S271.564,370.61,261.142,370.61z M261.142,344.806c-3.806,0-6.902,3.096-6.902,6.902
					s3.096,6.902,6.902,6.902c3.806,0,6.902-3.096,6.902-6.902S264.948,344.806,261.142,344.806z"/>
			</g>
		</g>
	</g>
</g>
</svg>
			<h3 class="text-lg font-bold mb-2 text-gray-800">المخبر</h3>
			<p class="text-sm text-gray-600"></p>
			<a href="javascript:void(0);" class="text-blue-600 font-bold inline-block text-sm mt-4 hover:underline">للمزيد</a>
		  </div>
		  <div class="bg-gray-100 p-6 rounded-md">
			<svg version="1.1" id="Icon_Set" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve"><style>.st2{fill:#4c4372}.st4{fill:#a4cff2}.st5{fill:#7babf1}</style><g id="Sphygmomanometer"><circle cx="256" cy="256" r="207" style="fill:#f0c48a"/><path d="M340.333 334.177h-169.46c-8.799 0-15.933-7.133-15.933-15.933v-169.46c0-8.799 7.133-15.933 15.933-15.933h169.46c8.799 0 15.933 7.133 15.933 15.933v169.46c-.001 8.799-7.134 15.933-15.933 15.933z" style="fill:#d3e6f8"/><path class="st5" d="M128.795 250.872H82.427a9.786 9.786 0 0 1-9.786-9.786v-79.119a9.786 9.786 0 0 1 9.786-9.786h46.368a9.786 9.786 0 0 1 9.786 9.786v79.119a9.786 9.786 0 0 1-9.786 9.786z"/><path class="st4" d="M94.684 152.181h21.855v98.691H94.684z"/><path class="st5" d="M405.594 250.872c-15.086 0-27.316-12.23-27.316-27.316v-19.059c0-15.086 12.23-27.316 27.316-27.316 15.086 0 27.316 12.23 27.316 27.316v19.059c0 15.086-12.23 27.316-27.316 27.316z"/><path class="st4" d="M340.332 132.85H315.53c8.799 0 15.933 7.133 15.933 15.934v169.46c0 8.799-7.133 15.934-15.933 15.934h24.802c8.799 0 15.933-7.134 15.933-15.934v-169.46c0-8.801-7.133-15.934-15.933-15.934z"/><path class="st5" d="M179.741 158.939h151.723v109.526H179.741z"/><path d="M320.314 311.384H190.891c-6.158 0-11.15-4.992-11.15-11.15s4.992-11.15 11.15-11.15h129.423c6.158 0 11.15 4.992 11.15 11.15s-4.992 11.15-11.15 11.15z" style="fill:#fff"/><path class="st2" d="M340.333 340.177h-169.46c-12.094 0-21.933-9.839-21.933-21.933V148.783c0-12.094 9.839-21.933 21.933-21.933h169.46c12.094 0 21.933 9.839 21.933 21.933v169.461c-.001 12.094-9.84 21.933-21.933 21.933zM170.872 138.851c-5.477 0-9.933 4.456-9.933 9.933v169.461c0 5.477 4.456 9.933 9.933 9.933h169.46c5.477 0 9.933-4.456 9.933-9.933V148.783c0-5.477-4.456-9.933-9.933-9.933h-169.46z"/><path class="st2" d="M331.464 274.465H179.741a6 6 0 0 1-6-6V158.938a6 6 0 0 1 6-6h151.723a6 6 0 0 1 6 6v109.526a6.001 6.001 0 0 1-6 6.001zm-145.723-12h139.723v-97.526H185.741v97.526z"/><path d="M218.498 183.422c-8.395 8.395-8.395 22.007 0 30.402l37.104 37.104 37.104-37.104c8.395-8.395 8.395-22.007 0-30.402s-22.007-8.395-30.402 0l-6.702 6.702-6.702-6.702c-8.395-8.396-22.007-8.396-30.402 0z" style="fill:#fd919e"/><path class="st2" d="M255.602 256.928a5.98 5.98 0 0 1-4.243-1.758l-37.104-37.104c-10.721-10.721-10.721-28.166 0-38.887 5.194-5.194 12.099-8.055 19.444-8.055s14.25 2.86 19.444 8.055l2.459 2.459 2.46-2.46c5.193-5.193 12.098-8.054 19.443-8.054 7.345 0 14.25 2.86 19.443 8.055 10.721 10.721 10.721 28.166 0 38.887l-37.104 37.104a5.979 5.979 0 0 1-4.242 1.758zm-21.903-73.803c-4.14 0-8.031 1.612-10.958 4.539-2.927 2.928-4.539 6.819-4.539 10.959s1.612 8.031 4.539 10.959l32.861 32.86 32.862-32.861c6.042-6.042 6.042-15.874 0-21.917-2.927-2.927-6.819-4.539-10.958-4.539s-8.031 1.612-10.958 4.539l-6.703 6.702a6.002 6.002 0 0 1-8.485 0l-6.702-6.701a15.395 15.395 0 0 0-10.959-4.54zM375.707 385.149h-44.292c-19.788 0-35.887-16.099-35.887-35.887v-15.086a6 6 0 0 1 12 0v15.086c0 13.171 10.716 23.887 23.887 23.887h44.292c13.171 0 23.887-10.716 23.887-23.887v-98.391a6 6 0 0 1 12 0v98.391c0 19.789-16.099 35.887-35.887 35.887zM179.79 385.149h-44.291c-19.789 0-35.888-16.099-35.888-35.887v-98.391a6 6 0 0 1 12 0v98.391c0 13.171 10.716 23.887 23.888 23.887h44.291c13.171 0 23.887-10.716 23.887-23.887v-15.086a6 6 0 0 1 12 0v15.086c0 19.789-16.099 35.887-35.887 35.887z"/><path class="st2" d="M405.594 256.872c-18.371 0-33.316-14.945-33.316-33.316v-19.059c0-18.371 14.946-33.316 33.316-33.316s33.316 14.945 33.316 33.316v19.059c0 18.371-14.946 33.316-33.316 33.316zm0-73.691c-11.754 0-21.316 9.562-21.316 21.316v19.059c0 11.754 9.562 21.316 21.316 21.316 11.753 0 21.316-9.562 21.316-21.316v-19.059c0-11.754-9.563-21.316-21.316-21.316zM128.795 256.872H82.427c-8.705 0-15.786-7.082-15.786-15.786v-79.119c0-8.704 7.082-15.786 15.786-15.786h46.368c8.705 0 15.787 7.082 15.787 15.786v79.119c0 8.704-7.082 15.786-15.787 15.786zm-46.368-98.691a3.79 3.79 0 0 0-3.786 3.786v79.119a3.79 3.79 0 0 0 3.786 3.786h46.368a3.79 3.79 0 0 0 3.787-3.786v-79.119a3.79 3.79 0 0 0-3.787-3.786H82.427z"/><path class="st2" d="M116.539 256.872H94.684a6 6 0 0 1-6-6v-98.691a6 6 0 0 1 6-6h21.855a6 6 0 0 1 6 6v98.691a6 6 0 0 1-6 6zm-15.855-12h9.855v-86.691h-9.855v86.691z"/><g><path class="st2" d="M320.314 317.384H190.891c-9.456 0-17.149-7.693-17.149-17.149 0-9.457 7.693-17.15 17.149-17.15h129.423c9.457 0 17.15 7.693 17.15 17.15 0 9.455-7.693 17.149-17.15 17.149zm-129.423-22.3c-2.839 0-5.149 2.311-5.149 5.15s2.31 5.149 5.149 5.149h129.423c2.84 0 5.15-2.31 5.15-5.149s-2.31-5.15-5.15-5.15H190.891z"/></g><g><path class="st2" d="M227.726 317.384a6 6 0 0 1-6-6v-22.3a6 6 0 0 1 12 0v22.3a6 6 0 0 1-6 6zM283.479 317.384a6 6 0 0 1-6-6v-22.3a6 6 0 0 1 12 0v22.3a6 6 0 0 1-6 6z"/></g></g></svg>>
			<h3 class="text-lg font-bold mb-2 text-gray-800" >>الإسعاف</h3>
			<p class="text-sm text-gray-600"></p>
			<a href="javascript:void(0);" class="text-blue-600 font-bold inline-block text-sm mt-4 hover:underline">للمزيد</a>
		  </div>
		  <div class="bg-gray-100 p-6 rounded-md">
			<svg version="1.1" id="Icon_Set" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve"><style>.st2{fill:#4c4372}</style><g id="Dental"><circle cx="256" cy="256" r="207" style="fill:#f0c48a"/><path d="M361.43 142.934c-14.944-20.921-42.098-29.162-66.149-20.076a111.156 111.156 0 0 1-78.563 0c-24.051-9.086-51.205-.846-66.149 20.076a56.676 56.676 0 0 0-5.34 56.693l16.617 36.003c7.056 15.288 8.918 32.525 4.949 48.889-7.189 29.642-10.45 81.979 42.334 113.333 5.028 2.987 11.222-1.35 10.238-7.115-9.355-54.822 3.789-101.941 36.633-101.941s45.987 47.119 36.633 101.941c-.984 5.764 5.21 10.101 10.238 7.115 52.784-31.354 49.523-83.691 42.334-113.334-3.969-16.364-2.107-33.601 4.949-48.889l16.617-36.003a56.675 56.675 0 0 0-5.341-56.692z" style="fill:#fff"/><path d="M361.43 142.934c-13.703-19.184-37.67-27.695-60.1-21.972 12.637 3.223 24.125 10.781 32.119 21.972a56.674 56.674 0 0 1 5.34 56.693l-16.617 36.003c-7.056 15.288-8.918 32.525-4.949 48.889 6.195 25.543 9.468 67.936-23.518 99.236-.318 2.312-.673 4.64-1.073 6.983-.984 5.764 5.21 10.101 10.238 7.115 52.784-31.354 49.523-83.691 42.334-113.333-3.969-16.364-2.107-33.601 4.949-48.889l16.617-36.003a56.676 56.676 0 0 0-5.34-56.694z" style="fill:#d3e6f8"/><path class="st2" d="M299.393 404.829c-2.527 0-5.046-.763-7.252-2.278-4.201-2.886-6.279-7.799-5.422-12.821 6.321-37.046 2.032-69.797-11.195-85.472-5.297-6.277-11.865-9.46-19.523-9.46s-14.226 3.183-19.523 9.46c-13.227 15.675-17.517 48.426-11.195 85.472.857 5.023-1.221 9.936-5.422 12.822-4.168 2.862-9.454 3.039-13.795.461-24.711-14.68-40.334-35.233-46.432-61.09-5.27-22.345-2.185-44.318 1.332-58.816 3.595-14.824 1.974-30.791-4.566-44.961l-16.617-36.003c-9.413-20.394-7.149-44.417 5.906-62.695 16.506-23.107 46.586-32.238 73.152-22.201a105.088 105.088 0 0 0 74.322 0c26.562-10.037 56.646-.907 73.151 22.201 13.055 18.278 15.318 42.301 5.906 62.695l-16.617 36.003c-6.54 14.17-8.161 30.137-4.566 44.96 3.516 14.498 6.602 36.471 1.332 58.816-6.098 25.857-21.721 46.411-46.432 61.09a12.803 12.803 0 0 1-6.544 1.817zM256 282.796c11.197 0 21.12 4.745 28.694 13.722 15.679 18.581 20.857 54.18 13.853 95.229-.024.143-.099.578.387.912.433.297.729.12.872.036 21.805-12.952 35.56-30.961 40.882-53.528 4.725-20.036 1.894-40.007-1.314-53.233-4.23-17.443-2.337-36.2 5.333-52.817l16.617-36.003c7.61-16.489 5.781-35.913-4.775-50.692-13.345-18.683-37.667-26.064-59.146-17.95a117.08 117.08 0 0 1-82.803 0c-21.48-8.115-45.801-.733-59.146 17.95-10.556 14.779-12.385 34.203-4.775 50.692l16.617 36.003c7.669 16.617 9.563 35.375 5.333 52.817-3.208 13.226-6.04 33.197-1.314 53.233 5.322 22.566 19.077 40.575 40.882 53.527.143.084.439.262.872-.036a.845.845 0 0 0 .387-.912c-7.004-41.048-1.826-76.648 13.853-95.229 7.571-8.975 17.494-13.721 28.691-13.721z"/><g><path style="fill:#fd919e" d="m122.335 145.499 17.678-32.323 17.677 32.323 32.323 17.677-32.323 17.678-17.677 32.322-17.678-32.322-32.322-17.678z"/><path class="st2" d="M140.013 219.176a6 6 0 0 1-5.264-3.121l-16.834-30.78-30.78-16.834a6 6 0 0 1 0-10.528l30.78-16.834 16.834-30.78a6 6 0 0 1 10.528 0l16.834 30.78 30.78 16.834a6 6 0 0 1 0 10.528l-30.78 16.834-16.834 30.78a6 6 0 0 1-5.264 3.121zm-37.496-56 22.697 12.414a6.001 6.001 0 0 1 2.385 2.385l12.414 22.697 12.414-22.697a6.001 6.001 0 0 1 2.385-2.385l22.697-12.414-22.697-12.414a6.001 6.001 0 0 1-2.385-2.385l-12.414-22.697-12.414 22.697a6.001 6.001 0 0 1-2.385 2.385l-22.697 12.414zm19.818-17.677h.01-.01z"/></g></g></svg>
			<h3 class="text-lg font-bold mb-2 text-gray-800">العيادة السنية</h3>
			<p class="text-sm text-gray-600"> </p>
			<a href="javascript:void(0);" class="text-blue-600 font-bold inline-block text-sm mt-4 hover:underline">للمزيد</a>
		  </div>
		  <div class="bg-gray-100 p-6 rounded-md">
			<svg version="1.1" id="Icon_Set" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve"><style>.st2{fill:#4c4372}.st3{fill:#d3e6f8}.st6{fill:#fff}</style><g id="Diagnostics"><circle cx="256" cy="256" r="207" style="fill:#f0c48a"/><path class="st6" d="M298.88 383.366H132.402c-7.849 0-14.211-6.363-14.211-14.211V162.201c0-7.849 6.363-14.211 14.211-14.211H298.88c7.849 0 14.211 6.363 14.211 14.211v206.953c0 7.849-6.363 14.212-14.211 14.212z"/><path class="st3" d="M298.88 147.99h-14.446v235.376h14.446c7.848 0 14.211-6.362 14.211-14.211V162.201c0-7.848-6.363-14.211-14.211-14.211z"/><path class="st2" d="M298.88 389.366H132.402c-11.145 0-20.211-9.067-20.211-20.211V162.201c0-11.144 9.066-20.211 20.211-20.211H298.88c11.145 0 20.211 9.067 20.211 20.211v206.953c0 11.145-9.067 20.212-20.211 20.212zM132.402 153.99c-4.527 0-8.211 3.683-8.211 8.211v206.953c0 4.528 3.684 8.211 8.211 8.211H298.88c4.527 0 8.211-3.683 8.211-8.211V162.201c0-4.528-3.684-8.211-8.211-8.211H132.402z"/><path class="st2" d="M219.66 276.495a6.002 6.002 0 0 1-5.588-3.812l-21.696-55.392-13.83 27.283a6 6 0 0 1-5.352 3.287h-24.945a6 6 0 0 1 0-12h21.26l18.219-35.939a6 6 0 0 1 10.939.525l21.467 54.805 19.797-42.561a5.972 5.972 0 0 1 5.558-3.468 6 6 0 0 1 5.418 3.682l9.607 22.956h22.52a6 6 0 0 1 0 12H256.52a6 6 0 0 1-5.535-3.684l-5.904-14.107-19.98 42.955a6.005 6.005 0 0 1-5.441 3.47zM231.408 308.32h-84.561a6 6 0 0 1 0-12h84.561a6 6 0 0 1 0 12zM231.408 334.086h-84.561a6 6 0 0 1 0-12h84.561a6 6 0 0 1 0 12zM231.408 359.851h-84.561a6 6 0 0 1 0-12h84.561a6 6 0 0 1 0 12z"/><path d="M250.078 167.346h-68.874a6.379 6.379 0 0 1-6.379-6.379v-25.954a6.379 6.379 0 0 1 6.379-6.379h68.874a6.379 6.379 0 0 1 6.379 6.379v25.954a6.379 6.379 0 0 1-6.379 6.379z" style="fill:#fd919e"/><path style="fill:#7babf1" d="M254.133 302.32h30.3v51.531h-30.3z"/><path class="st2" d="M284.434 359.851h-30.3a6 6 0 0 1-6-6V302.32a6 6 0 0 1 6-6h30.3a6 6 0 0 1 6 6v51.531a6 6 0 0 1-6 6zm-24.3-12h18.3V308.32h-18.3v39.531z"/><path d="M231.408 128.634h18.669a6.379 6.379 0 0 1 6.379 6.379v25.954a6.379 6.379 0 0 1-6.379 6.379h-18.669v-38.712z" style="fill:#e8677d"/><path class="st2" d="M250.078 173.346h-68.874c-6.826 0-12.38-5.553-12.38-12.379v-25.954c0-6.826 5.554-12.379 12.38-12.379h68.874c6.826 0 12.379 5.553 12.379 12.379v25.954c0 6.826-5.553 12.379-12.379 12.379zm-68.874-38.712a.38.38 0 0 0-.38.379v25.954c0 .209.17.379.38.379h68.874a.38.38 0 0 0 .379-.379v-25.954a.38.38 0 0 0-.379-.379h-68.874z"/><g><path d="M348.32 383.366c-7.148 0-12.943-5.795-12.943-12.943V262.938h25.885v107.485c.001 7.148-5.794 12.943-12.942 12.943z" style="fill:#a4cff2"/><path class="st2" d="M348.32 389.366c-10.445 0-18.943-8.498-18.943-18.943V262.938a6 6 0 0 1 6-6h25.886a6 6 0 0 1 6 6v107.485c0 10.445-8.497 18.943-18.943 18.943zm-6.943-120.428v101.485c0 3.828 3.115 6.943 6.943 6.943s6.942-3.115 6.942-6.943V268.938h-13.885z"/><path class="st2" d="M361.263 365.834h-25.886a6 6 0 0 1 0-12h25.886a6 6 0 0 1 0 12z"/><circle class="st3" cx="348.32" cy="239.038" r="65.489"/><circle class="st6" cx="348.32" cy="239.038" r="42.493"/><path class="st2" d="M348.32 310.527c-39.419 0-71.489-32.07-71.489-71.489s32.07-71.489 71.489-71.489 71.488 32.07 71.488 71.489-32.069 71.489-71.488 71.489zm0-130.978c-32.803 0-59.489 26.687-59.489 59.489s26.687 59.489 59.489 59.489c32.802 0 59.488-26.687 59.488-59.489s-26.686-59.489-59.488-59.489z"/><path class="st2" d="M348.32 287.531c-26.739 0-48.493-21.754-48.493-48.492 0-26.739 21.754-48.493 48.493-48.493 26.738 0 48.492 21.754 48.492 48.493 0 26.738-21.753 48.492-48.492 48.492zm0-84.985c-20.122 0-36.493 16.37-36.493 36.493 0 20.122 16.371 36.492 36.493 36.492s36.492-16.37 36.492-36.492c0-20.123-16.37-36.493-36.492-36.493z"/></g></g></svg>
			<h3 class="text-lg font-bold mb-2 text-gray-800">العيادة النسائية</h3>
			<p class="text-sm text-gray-600"></p>
			<a href="javascript:void(0);" class="text-blue-600 font-bold inline-block text-sm mt-4 hover:underline">للمزيد</a>
		  </div>
		</div>
	  </div>
	   
 
 
 


	  
  
		 