---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";
import { CldImage } from 'astro-cloudinary';
---

<Layout title="الأعضاء">
  <Container>
    <Sectionhead>
      <Fragment slot="title"أعضاء مجلس الجمعية</Fragment>
       </Fragment>
    </Sectionhead>
    <div class="font-[sans-serif] px-4 py-8 bg-gradient-to-t from-green-50 to-purple-50">
      <div class="lg:max-w-5xl sm:max-w-2xl mx-auto">
          <div class="max-w-2xl mx-auto text-center">
              <h2 class="text-gray-800 text-3xl font-extrabold">أعضاء مجلس الأمناء</h2>
          </div>

          <div class="grid lg:grid-cols-3 sm:grid-cols-2 gap-8 max-sm:gap-12 max-md:justify-center mt-16">

              <div class="flex items-center">
                  <img src=" " class="w-24 h-24 rounded-full" />
                  <div class="ml-6">
                      <h4 class="text-gray-800 text-base font-bold"> </h4>
                      <p class="text-xs text-blue-600 mt-1"> </p>
                  </div>
              </div>

              <div class="flex items-center">
                  <img src=" " class="w-24 h-24 rounded-full" />
                  <div class="ml-6">
                      <h4 class="text-gray-800 text-base font-bold"> </h4>
                      <p class="text-xs text-blue-600 mt-1"> </p>
                  </div>
              </div>

              <div class="flex items-center">
                  <img src=" " class="w-24 h-24 rounded-full" />
                  <div class="ml-6">
                      <h4 class="text-gray-800 text-base font-bold"> </h4>
                      <p class="text-xs text-blue-600 mt-1"> </p>
                  </div>
              </div>

              <div class="flex items-center">
                  <img src=" " class="w-24 h-24 rounded-full" />
                  <div class="ml-6">
                      <h4 class="text-gray-800 text-base font-bold"> </h4>
                      <p class="text-xs text-blue-600 mt-1"> </p>
                  </div>
              </div>

              <div class="flex items-center">
                  <img src=" " class="w-24 h-24 rounded-full" />
                  <div class="ml-6">
                      <h4 class="text-gray-800 text-base font-bold"> </h4>
                      <p class="text-xs text-blue-600 mt-1"> </p>
                  </div>
              </div>

              <div class="flex items-center">
                  <img src=" " class="w-24 h-24 rounded-full" />
                  <div class="ml-6">
                      <h4 class="text-gray-800 text-base font-bold"></h4>
                      <p class="text-xs text-blue-600 mt-1"> </p>
                  </div>
              </div>

              <div class="flex items-center">
                  <img src=" " class="w-24 h-24 rounded-full" />
                  <div class="ml-6">
                      <h4 class="text-gray-800 text-base font-bold"> </h4>
                      <p class="text-xs text-blue-600 mt-1"> </p>
                  </div>
              </div>

              <div class="flex items-center">
                  <img src=" " class="w-24 h-24 rounded-full" />
                  <div class="ml-6">
                      <h4 class="text-gray-800 text-base font-bold"> </h4>
                      <p class="text-xs text-blue-600 mt-1"> </p>
                  </div>
              </div>

              <div class="flex items-center">
                  <img src=" " class="w-24 h-24 rounded-full" />
                  <div class="ml-6">
                      <h4 class="text-gray-800 text-base font-bold"> </h4>
                      <p class="text-xs text-blue-600 mt-1"> </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </Container>
</Layout>
