---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";


---

<Layout title="كلمة رئيس مجلس الأمناء">
  <Container>
    <Sectionhead>
      <Fragment slot="title">كلمة رئيس مجلس الأمناء</Fragment>
       </Fragment>
       
    </Sectionhead>
    <div class="font-sans bg-gray-100 px-4 py-12">
    <div class="grid lg:grid-cols-2 gap-12 lg:max-w-6xl max-w-2xl mx-auto">
      <div class="text-left">
        <h2 class="text-gray-800 text-3xl font-bold mb-6">جمعية البر والتعليم الإسلامي في قطنا</h2>
        <p class="mb-4 text-sm text-gray-500">جمعية البر والتعليم الإسلامي في قطنا.</p>
        <p class="mb-4 text-sm text-gray-500">جمعية البر والتعليم الإسلامي في قطنا.</p>
         
      </div>
      <div>
        <img src="https://res.cloudinary.com/dfklzkzss/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1737456550/IMG_20250116_123041_sakq3j.jpg" alt="Placeholder Image" class="rounded-lg object-contain w-full h-full" />
      </div>
    </div>
  </div>
  </Container>
</Layout>
