---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";


---

<Layout title="كلمة رئيس مجلس الأمناء">
  <Container>
    <Sectionhead>
      <Fragment slot="title">كلمة رئيس مجلس الإدارة</Fragment>
       </Fragment>
       
    </Sectionhead>
    <div class="font-sans bg-gray-100 px-4 py-12">
    <div class="grid lg:grid-cols-2 gap-12 lg:max-w-6xl max-w-2xl mx-auto">
      <div class="text-left">
         
        <p class="mb-4 text-right text-2xl text-gray-500">السادة زوارنا ومتابعينا الأكارم:
        السلام عليكم ورحمة الله وبركاته،
        يسعدني ويشرفني أن أرحب بكم جميعاً في هذا المجال المبارك، الذي يجمعنا تحت مظلة العمل الخيري والإنساني، فهدفنا واحد، وقلوبنا متحدة من اجل خدمة المجتمع ومساعدة المحتاجين فيه. 
        ان جمعيتنا الخيرية (جمعية البر والتعليم الاسلامي في قطنا )، والتي نعتز بها جميعاً، منذ تاسيسها في عام ١٩٦٣ وإلى الأن تسعى لان تكون يد العون لكل من يحتاج، وأن تكون جسراً للخير بين المحسنين والمستحقين.
         اننا في هذا المشروع الخيري، نعمل معاً لتحقيق أهداف نبيلة في دعم الفقراء، ورعاية الأيتام، ومساعدة المرضى، وتعليم المحتاجين كما ونسعى الى تنشئة جيل مبني على التربية والاخلاق الحميدة العالية ونضع كل هذه الخطط لتحقيق مستقبل أكثر تفاؤلا و إشراقاً وسعادة
         انني من هذا المنبرأتوجه بالشكر الجزيل لكل من ساهم في دعم هذه الجمعية، سواء بالجهد أو بالمال أو الدعاء. فكلكم شركاء في الأجر، وبدعمكم نستطيع أن نصل إلى المزيد من الفقراء ونلبي احتياجاتهم
        ونخفف عنهم معاناتهم والامهم.
         كما أود أن أشكر كل أعضاء الجمعية والعاملين فيها، هؤلاء الذين بذلوا ولازالوا يبذلون جهوداً كبيرة لتحقيق هذه الأهداف، ويسهرون على نجاح كل مشروع ننفذه. فجزاهم الله كل خير على ما قدموه من عملٍ صالحٍ.
         وختاما ..... فانني أدعو الله تعالى أن يوفقنا جميعاً في مسعانا، وأن يجعل عملنا هذا خالصاً لوجهه الكريم، وأن يبارك لنا في تلك الجهود ويجعلها في ميزان حسناتنا انه سميع قريب مجيب . 
        كل الشكر لكم، والسلام عليكم ورحمة الله وبركاته.</p>
        
         
      </div>
      <div>
        <img src="https://res.cloudinary.com/dfklzkzss/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1737456550/IMG_20250116_123041_sakq3j.jpg" alt="Placeholder Image" class="rounded-lg object-contain w-full h-full" />
      </div>
    </div>
  </div>
  </Container>
</Layout>
